* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: black
}

.wrap {
    max-width: 880px;
    margin: 0 auto;
    /*border: 1px solid red;*/
}

/*Секция Header*/

.header {
    margin-bottom: 40px;
}

.logo {
    border-bottom: 1px solid #545454;
}

.logo_header {
    padding-top: 45px;
    padding-bottom: 40px;
}

/*Секция Profile*/

.profile {
    margin-bottom: 50px;
}

.profile_wrap {
    display: flex;
    justify-content: space-between;
}

.profile_info {
    display: flex;
    gap: 30px;
}

.profile_info_text {
    display: flex;
    flex-direction: row;
    gap: 17px;
    /*display: flex;
    flex-direction: column;*/
    justify-content: center;
}

.profile_add_info {
    display: flex;
    align-items: center;
}

.prof_info_name_text {
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFFFFF;
}

.prof_info_discrip_text {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.prof_add_btn {
    border: 2px solid #ffffff;
    background-color: black;
}

.prof_add_img {
    padding: 14px 64px;
}

.profile_info_edit {
    padding-top: 14px;
}

.btn_profile_edit {
    background-color: #000000;
}

.prof_add_btn:hover {
    opacity: 0.6;
    cursor: pointer
}

/*Секция Content*/

.content {
    margin-bottom: 66px;
}

.content_wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
    justify-content: center;
}

.card {
    width: 280px;
    height: 360px;
}

.card_img {
    font-size: 0px;
}

.card__img {
    width: 280px;
    height: 280px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card_under_img {
    background-color: #FFFFFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 25px 15px;
}

.card_img_text {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.card_img_like {
    display: flex;
    align-items: center;
}

.btn_like_icon {
    border: none;
    background-color: #ffffff;
}

.btn_like_icon:hover {
    opacity: 0.6;
    cursor: pointer
}

.fa-heart {
    color: #000000;
    font-size: 20px;
}

/*Секция Footer*/

.footer {
    margin-bottom: 60px;
}

.footer_marka_text {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
}